

.gridContainer {
    aspect-ratio: 1;
    display: grid;
    background-color: lightblue;
    max-width: 960px;
    max-height: 960px;
    padding: 1px;
    gap: 1px;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}

.gridItem {
    aspect-ratio: 1;
    background-color: white;
    box-sizing: border-box;
    width: auto;
}