

.gridContainer {
    aspect-ratio: 1;
    display: grid;
    background-color: lightblue;
    width: 400px;
    padding: 5px;
    gap: 5px;
    grid-template-columns: auto auto;
}

.gridItem {
    aspect-ratio: 1;
    background-color: white;
    box-sizing: border-box;
    width: 190px;
}